.nav-container{
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	text-align: end;
	padding-top: 0%;
    
	
}
a{
	text-decoration: none;
	padding-top: 0px;
	margin-right: 30px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    
	
	
	.content {
		padding: 20px;
	}
	
	.profile-pic {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: 20px;
	}
    .social-links a {
		margin: 10px;
	}

    