
.navbar{
    width: 100%;
    display: flex;
    margin-left: 10px;
    padding: 1px 0;
    align-items: center;
    justify-content: space-between;
}
.text{
    margin-right: 50px;
}



.img logo{
    width: 160px;
    cursor: pointer;
    margin-top: -3%;
    margin-left: -2%;
   border: radius circle 50px;
}

.edit-logo{
    border-radius: 50%;
}

ul{
    margin-top: -4%;
    margin-right: 100bpx;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: darkslategray;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
    color: rgb(230,104,59);
}
.info{
    margin-left: 7%;
    margin-top: 6%;
    
    
}
.nfo h1{
    font-size: 65px;
    color: rgb(36,32,30);
}
.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}
.info span{
    color: rgb(230,104,59);

}
.info a{
    text-decoration: none;
    color: #fff;
    background:rgb(36,32,30);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
    
}
.info a:hover{
background: rgb(59,174,209);
}
.image{
    width:3%;
    height: 300px;
    position: absolute;
    right: 100px;
    margin-bottom: 50%;
    
}
.image img{
    position: absolute;
  height: 350px;
  left: 0px;
  transform: translate(-55%);
  border: 0;
  transition: left 2s ease;
  border-radius: 30px;
    
}
.image:hover{
left: 55%;
}
